<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="URLBackup" value="C:\Users\Bioxor\Desktop\Cheapcost\" />
    <add key="Database" value="Bioxor.Estacionamiento.Standard" />
    <add key="DBInstance" value="DITOXLAP06\SQLEXPRESS" />
    <add key="User" value="sa" />
    <add key="Password" value="LowCost" />
    <add key="BackupRetention" value="5" />
    <add key="Debug" value="true" />
    <add key="Timeout" value = "14400"/>
  </appSettings>
</configuration>